[submodule "third_party/d2net"]
	path = third_party/d2net
	url = https://github.com/mihaidusmanu/d2-net.git
[submodule "third_party/SuperGluePretrainedNetwork"]
	path = third_party/SuperGluePretrainedNetwork
	url = https://github.com/magicleap/SuperGluePretrainedNetwork.git
[submodule "third_party/deep-image-retrieval"]
	path = third_party/deep-image-retrieval
	url = https://github.com/naver/deep-image-retrieval.git
[submodule "third_party/r2d2"]
	path = third_party/r2d2
	url = https://github.com/naver/r2d2.git
[submodule "third_party/disk"]
	path = third_party/disk
	url = https://github.com/cvlab-epfl/disk.git
[submodule "third_party/fire"]
	path = third_party/fire
	url = https://github.com/Vincentqyw/fire
[submodule "third_party/ASpanFormer"]
	path = third_party/ASpanFormer
	url = https://github.com/Vincentqyw/ml-aspanformer.git
[submodule "third_party/TopicFM"]
	path = third_party/TopicFM
	url = https://github.com/Vincentqyw/TopicFM
